@font-face {
  font-family: 'JetBrains Mono';
  src: url(/assets/fonts/jetbrains-mono-v20-latin-regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(/assets/fonts/jetbrains-mono-v20-latin-600.woff2);
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,body{
  overflow-x: hidden;
}

body{
  margin-top: 3em;
  font-family:'JetBrains Mono' ;
}


@media (max-width:800px) {

  #responsive-table tbody,
  #responsive-table tr,
  #responsive-table td {
    display: block;
  }

  #responsive-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #responsive-table td {
    position: relative;
    padding-left: 50%;
    border: none;
    border: 1px solid #eee;
  }

  #responsive-table td::before {
    content: attr(data-title);
    position: absolute;
    left: 6px;
    font-weight: bold;
  }

  #responsive-table tr {
    border-bottom: 1px solid #ccc;
  }


}

.bg-clr {
  background: hsl(230, 17%, 14%);
  border-radius: 1em;
}

form {
  margin-bottom: .6em;
}

.bg-green {
  background-color: #daff7d;
  color: black;
  border: 2px solid #daff7d !important;
}

.bg-green:hover,
.bg-green:focus {
  background: transparent;
  color: #daff7d;
}

.bg-orange {
  background-color: #ff934f;
  color: black;
  border: 2px solid #ff934f !important;
}

.bg-orange:hover,
.bg-orange:focus {
  background: transparent;
  color: #ff934f;
}

.bg-red {
  background-color: #ff5b22;
  color: black;
  border: 2px solid #ff5b22 !important;
}

.bg-red:hover,
.bg-red:focus {
  background: transparent;
  color: #ff5b22;
}

.bg-purple {
  background-color: #9156f1;
  color: #fff;
  border: 2px solid #9156f1 !important;
}

.bg-purple:hover:hover,
.bg-purple:focus {
  background: transparent;
  color: #9156f1;
}

.bg-mint tr {
  background-color: #bff7e9;
  border: 2px solid #bff7e9 !important;
  border-radius: 1em;
}