@font-face {
  font-family: 'JetBrains Mono';
  src: url(/assets/fonts/jetbrains-mono-v20-latin-regular.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url(/assets/fonts/jetbrains-mono-v20-latin-600.woff2);
  font-weight: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:'JetBrains Mono' ;
  margin-top: 5em;
  margin-bottom: 1em;
}

.bg-clr {
  background:hsl(230, 17%, 14%);
  border-radius: 1em;
}

form {
  margin-bottom: .6em;
}

.h2-clr{
  color: #fff;
  margin-top: .6em;
  font-weight: 600;
}

.bg-green{
  background-color: #daff7d;
  color: black;
  border: 2px solid #daff7d !important;
}

.bg-green:hover,
.bg-green:focus{
  background: transparent;
  color: #daff7d;
}

.bg-orange{
  background-color: #ff934f;
  color: black;
  border: 2px solid #ff934f !important;
}

.bg-orange:hover,
.bg-orange:focus {
  background: transparent;
  color: #ff934f;
}

.bg-red{
  background-color: #ff5b22;
  color: black;
  border: 2px solid #ff5b22 !important;
}

.bg-red:hover,
.bg-red:focus {
  background: transparent;
  color: #ff5b22;
}

.bg-purple {
  background-color: #9156f1;
  color: #fff;
  border: 2px solid #9156f1 !important;
}

.bg-purple:hover,
.bg-purple:focus {
  background: transparent;
  color: #9156f1;
}
